@{
    Layout = "~/Views/Shared/LayoutForHomePage.cshtml";
    ViewBag.Title = "Home Page";

}



<div>
    <img id="movieimg"/>
</div>

<div class="container body-content">


    <div id="demo" class="jumbotron">
        <h1>Demonstration Of Simple Typescript</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:powderblue" value="SuicideSquad" onclick="Showimg(this.value)">Suicide Squad</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:wheat" value="BadMom" onclick="Showimg(this.value)">Bad Mom</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:black" value="SausageParty" onclick="Showimg(this.value)">Sausage Party</button>
        </div>
    </div>
 
</div>
@section scripts{   
    <script src="~/Scripts/test.js"></script>
    }


