@model Vidly.ViewModels.HomePageViewMode
@{
    Layout = "~/Views/Shared/LayoutForHomePage.cshtml";
    ViewBag.Title = "Home Page";

}


<div class="container-fluid">

    <div class="row">

        <ul id="tabs" class="tabs">
            <li class="active">@Html.ActionLink("Likai's cinema", "Index", "Home")</li>
            <li onmouseover="TabsHover(this)" onmouseout="TabsOut(this)">@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li onmouseover="TabsHover(this)" onmouseout="TabsOut(this)">@Html.ActionLink("Movies", "Index", "Movies")</li>
        </ul>
    </div>
</div>

<hr>

<div>
    <img class="col-xs-12" id="movieimg" />
</div>

<div class="container body-content">


    <div id="demo" class="jumbotron">
        <h1>Demonstration Of Simple Typescript</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:powderblue" value="SuicideSquad" onclick="Showimg(this.value)">Suicide Squad</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:wheat" value="BadMom" onclick="Showimg(this.value)">Bad Mom</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:black" value="SausageParty" onclick="Showimg(this.value)">Sausage Party</button>
        </div>
    </div>

</div>
<hr />
@using (Html.BeginForm("Save", "Home"))
{
    <div class="container-fluid">
        <div class="row">
            <hr>
            <div class="main-videos">
                <div class="col-md-2 ">
                    <h2>Hot</h2>
                    <ul>
                        <li>ABC</li>
                        <li>ABC</li>
                        <li>ABC</li>
                        <li>ABC</li>
                        <li>ABC</li>
                    </ul>
                </div>

                <div class="col-md-2 video">
                    @* set the homepageMovieId *@
                    <input class="form-control" data-val="true" id="HomePageMovies_Movie1" name="HomePageMovies.Movie1" type="text" value=@Model.HomePageMovies.Movie1>

                    <div class="area">
                        <a href="">
                            <div class="mask" movie-id="">
                                <div class="vertical-align ">
                                    <i class="fa fa-eye"></i>
                                    <p>See More</p>
                                </div> <!-- End Vertical Align -->

                            </div> <!-- End Mask / Hover -->
                        </a>


                        <img src=@Model.Movies.SingleOrDefault(m => m.Id == Model.HomePageMovies.Movie1).PicUrl.ToString() alt="video" class="img-responsive  ">

                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>West Super Bowl 2015</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>

                    @*<button class="hiden-button upload-info">Upload</button>*@
                    <button type="button" class="btn btn-info btn-lg upload-info"
                            data-toggle="modal" data-target="#myModal">
                        Open Modal
                    </button>

                </div> <!-- End Col-md-2 -->

                <div class="col-md-2 video">

                    <div class="area">
                        <div class="mask" movie-id="">

                            <div class="vertical-align ">
                                <i class="fa fa-eye"></i>
                                <p>See More</p>
                            </div> <!-- End Vertical Align -->

                        </div> <!-- End Mask / Hover -->

                        <img src="" alt="video" class="img-responsive  " height="900x">
                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>West Super Bowl 2015</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>
                    <button class="hiden-button upload-info">Upload</button>

                </div> <!-- End Col-md-2 -->

                <div class="col-md-2 video">

                    <div class="area">
                        <div class="mask ">

                            <div class="vertical-align ">
                                <i class="fa fa-eye"></i>
                                <p>See More</p>
                            </div> <!-- End Vertical Align -->

                        </div> <!-- End Mask / Hover -->

                        <img src="https://i.ytimg.com/vi/PPyPVMHLUSM/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=euYB4u39HTBnTlVaGMTGVe85SWw" alt="video" class="img-responsive  " height="900x">
                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>West Super Bowl 2015</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>
                    <button class="hiden-button upload-info">Upload</button>

                </div> <!-- End Col-md-2 -->

                <div class="col-md-2 video">

                    <div class="area">
                        <div class="mask ">

                            <div class="vertical-align ">
                                <i class="fa fa-eye"></i>
                                <p>See More</p>
                            </div> <!-- End Vertical Align -->

                        </div> <!-- End Mask / Hover -->

                        <img src="https://i.ytimg.com/vi/PPyPVMHLUSM/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=euYB4u39HTBnTlVaGMTGVe85SWw" alt="video" class="img-responsive  " height="900x">
                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>West Super Bowl 2015</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>
                    <button class="hiden-button upload-info">Upload</button>

                </div> <!-- End Col-md-2 -->

                <div class="col-md-2 video">

                    <div class="area">
                        <div class="mask ">

                            <div class="vertical-align ">
                                <i class="fa fa-eye"></i>
                                <p>See More</p>
                            </div> <!-- End Vertical Align -->

                        </div> <!-- End Mask / Hover -->

                        <img src="https://i.ytimg.com/vi/PPyPVMHLUSM/hqdefault.jpg?custom=true&w=196&h=110&stc=true&jpg444=true&jpgq=90&sp=68&sigh=euYB4u39HTBnTlVaGMTGVe85SWw" alt="video" class="img-responsive  " height="900x">
                        <span class="duration">44:03</span>

                    </div> <!-- End Area -->

                    <h4>West Super Bowl 2015</h4>
                    <p><span>9 Days Ago</span> By <a href="#">Know More</a> Action</p>
                    <button class="hiden-button upload-info">Upload</button>

                </div> <!-- End Col-md-2 -->




            </div> <!-- End Main Videos -->

        </div> <!-- End Row -->
    </div> <!-- End Container-Fluid -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Movie List</h4>


                    <!--          table   -->

                    <div class="modal-body">
                        <!--  table-->

                        <table class="table table-striped fixed">
                            <tbody>
                                <tr>

                                    @foreach (var movie in Model.Movies)
                                    {
                                        <td>
                                            <p class="chooseMovie" data-dismiss="modal" value-url=@movie.PicUrl
                                               value-id=@movie.Id>@movie.Name</p>
                                        </td>
                                    }
                                </tr>

                            </tbody>
                        </table>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @*  end the save form*@}

<hr>








