@{
    Layout = "~/Views/Shared/LayoutForHomePage.cshtml";
    ViewBag.Title = "Home Page";

}


<div class="container-fluid">

    <div class="row">

        <ul id="tabs" class="tabs">
            <li class="active" onmouseover="TabsHover(this)">@Html.ActionLink("Likai's cinema", "Index", "Home")</li>
            <li onmouseover="TabsHover(this)">@Html.ActionLink("Customers", "Index", "Customers")</li>
            <li onmouseover="TabsHover(this)">@Html.ActionLink("Movies", "Index", "Movies")</li>
        </ul>
    </div>
</div>

<hr>

<div>
    <img  class="col-xs-12" id="movieimg"/>
</div>

<div class="container body-content">


    <div id="demo" class="jumbotron">
        <h1>Demonstration Of Simple Typescript</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:powderblue" value="SuicideSquad" onclick="Showimg(this.value)">Suicide Squad</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:wheat" value="BadMom" onclick="Showimg(this.value)">Bad Mom</button>
        </div>

        <div class="col-md-4">
            <button class="btn btn-lg btn-primary" style="background-color:black" value="SausageParty" onclick="Showimg(this.value)">Sausage Party</button>
        </div>
    </div>
 
</div>



