

@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div>
            <p class="username">@Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</p>
         
            <p><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></p>

        </div>

    }
}
else
{

    <div>
        <p class="username">Vistor</p>
        <p>@Html.ActionLink("Register", "Register", "Account")</p>
        <p>@Html.ActionLink("Log in", "Login", "Account")</p>
    </div>
}

