body {
  
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

select,
textarea {
    max-width: 280px;
}


.field-validation-error {
color:red;
}

.input-validation-error {
border: 2px solid red;
}

.button{
background-color:crimson;
    color: azure;
    padding: 17px 25px;
    text-transform: uppercase;
    font-weight: 700;
    border: 2px solid crimson;
    font-size: 12px;
    float:left;
    border-radius: 999px;
}

.button:hover{
    background-color: white;
    border: 2px solid crimson;
    text-decoration:none;
}

/*Header*/
header{
    padding: 30px 0 0 0;
}

.logo{
    max-width: 60%;
}

#menu-toggle{
    position:absolute;
    top: 30%;
    left: 78%;
   
}

#menu-toggle img{
    top: 30%;
    width: 20px;
}

input{
    border: 1px solid #d9dcdf;
    color: azure;
    font-size: 12px;
    padding:17px 25px;
    width: 100%;
    background: url(../images/search.png) #f7f8fa  no-repeat right 35px center;
    background-size: 3%;
    outline: none;    
}

.notifications{
    position: absolute;
    right: 240px;
    top: 20px;
}

.notifications li:hover{
    cursor:pointer;
}
.notifications i {
    color:gainsboro;
    font-size: 20px;
}

.notifications span{
    border-radius:50px;
    background-color:crimson;
    color:white;
    font-weight: 700;
    padding: 4px 9px;
    font-size: 11px;
    position: relative;
    top: -12px;
    left:-12px;
}

.user-info li{
    display: inline-block;
}

.user-info li:nth-child(3){
    float: right;
     margin-right: 10%;
}

.user-info li:nth-child(3) img{
    float:left;
    margin-right: 20px;
    widows: 60px;
}

.user-info li:nth-child(3) div{
    display:inline-block
}

.user-info li:nth-child(3) p {
    margin: 0;
   
}

.user-info li:nth-child(3) a {
    font-weight: 700;
    color: crimson;
   
}

.username{
    color: black;
    font-weight: 700;
}

/*Tabs*/
.tabs {
    text-align: center;
    margin: -10px 0;
}

.tabs li{
   display: inline-block;
    text-transform: uppercase;
    color:darkgrey;
    font-weight: 700;
    font-size: 12px;
    margin: 0 20px;
}

.tabs li:hover{
    color: cornflowerblue;
    cursor:pointer;
}

.tabs .active{
    border-bottom: 3px solid crimson;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: -11px;
}